{% extends "_layout.html" %} {% block title %}Movie Stock Market{% endblock %}
{% block content %}
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/productionhouse.css') }}"
  />

  <script src="{{ url_for('static', filename='javascript/script.js') }}"></script>
</head>
<body>
  <div class="prank" id="prank">
    <div class="movie-container" id="movie-container">
      <!-- Movie items will be inserted here dynamically -->
    </div>
  </div>

  <div class="newss" id="newss">
    <div class="news-container" id="news-container">
      <!-- News items will be inserted dynamically -->
    </div>
  </div>
</body>
{% endblock %}
